.title {
  font-family: "Courier New";
  display: flex;
  align-self: flex-end;
}

.done {
  text-decoration: line-through;
}

ul {
  font-family: Georgia;
  font-size: 1em;
  box-sizing: content-box;
}
